* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    background-color: rgb(252, 211, 218);
}
.container {
    width: 90%;
    margin: 0 auto;
}
.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-align: center; */
    margin-top: 20px;
}
.header-3 nav ul {
    display: flex;
    /* padding-left: 20px; */
}
.header-3 li a {
    padding-left: 20px;
    color: black;
    font-family: sans-serif;
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */
h1 {
    color: black;
    text-align: center;
    margin-top: 60px;
    font-size: 50px;
    margin-bottom: 50px;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
.image-section {
    display: flex;
}
.image-section img {
    width: 100%;
    /* max-width: 200px; */
}
.Banner{
    margin-bottom: 10%;
}
/* //////////////////////////////////////////////////////////////////// */


.sec-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sec-left img{
   width: 500px;
}
.sec-right p{
    max-width: 700px;
    margin-bottom: 10px;
}









/* ///////////////////////////////////////////////////// */
@media screen and (max-width: 1450px) {
    .header-3 li a {
        font-size: 20px;
    }
}

@media screen and (max-width: 1122px){
    .header-1 img{
       width: 40px;
    }
}

@media screen and (max-width: 980px){
    .header-main {
        flex-direction: column;
    }
    .header-2 img{
       margin: 20px;
   
    }
    .banner-h1{
        font-size: 35px;
    }
}

@media screen and (max-width: 650px){
    .header-3 nav ul{
        flex-direction: column;
        line-height: 30px;
    
    }
}

@media screen and (max-width: 1350px){
    .sec-right p{
        max-width: 600px;
    }
}
@media screen and (max-width: 1280px){
    .sec-right p{
        max-width: 500px;
    }
}

@media screen and (max-width: 1150px){
    .sec-main{
        flex-direction: column;
    }
    .sec-right{
        margin-top: 50px;
    }
}